@import "tailwindcss";

*{
  margin:0
}
body{
  background-color: rgb(27, 33, 43);
  color: white;
}

.file_left{
  border-right: 1px solid rgb(128, 128, 128) !important;
  height: 100vh;
  padding:1rem
}